.sidebarChat{
    padding: 20px;
    display: flex;
    cursor: pointer;
    border-bottom: 2px solid #f6f6f6;
}

.sidebarChat:hover {
    background-color: #ebebeb;
}

.sidebarChat_info > h2{
    margin-bottom: 8px;
    font-size: 20px;
}   

.sidebarChat_info {
    margin-left: 15px;
}